http://www.cmake.org/cmake/resources/software.html
http://www.hardened-php.net/suhosin/download.html
http://pecl.php.net/package-changelog.php?package=APC
http://delta.affinix.com/download/qca/2.0/
http://psi-im.org/download/
http://labs.adobe.com/downloads/flashplayer10.html
